:root
{
    --blue: RGB(0,255,255);
    --gold: RGB(255,255,0);
    --red: RGB(0,98,114);
    --th: RGB(0,255,0);
    --p: RGB(0,0,255);
    color: var(--blue);
    background-color:var(--red)
}

.h1
{
  color: var(--gold);
  font-size: 48pt;
  text-decoration: underline;
  text-align: center;
}

ul
{
    text-align: center;
}
li
{
    display: inline;
    text-align: left;
}

img
{
    margin: auto;
    display: block;
}

section :hover
{
    background-color:var(--gold);
}
th
{
    color: var(--th);
}
p
{
    color: var(--p);
}
.footnote
{
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}

