:root
{
    --blue: RGB(0,255,255);
    --gold: RGB(255,255,0);
    --red: RGB(57,0,0);
    color: var(--blue);
    background-color:var(--red)
}

.title
{
  color: var(--gold);
  font-size: 48pt;
  text-decoration: underline;
  text-align: center;
}

.ul
{
    text-align: center;
}
.li
{
    display: inline;
    margin-left: 5vw;
    margin-right: 5vw;
}

.img
{
    margin: auto;
    display: block;
}

.section :hover
{
    background-color:var(--gold);
}

.footnote
{
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}
.background
{
    background-color: cadetblue;
}
