:root
{
    --blue: RGB(0,255,255);
    --uncgold: RGB(255,255,0);
    --uncgray: RGB(235,235,235);
    color: var(--uncblue);
    background-color:var(--uncgray)
}

.title
{
  color: var(--uncgold);
  font-size: 48pt;
  text-decoration: underline;
  text-align: center;
}

.ul
{
    text-align: center;
}
.li
{
    display: inline;
    margin-left: 5vw;
    margin-right: 5vw;
}

.img
{
    margin: auto;
    display: block;
}

.section :hover
{
    background-color:var(--uncgold);
}

.footnote
{
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}
.background
{
    background-color: cadetblue;
}