:root
{
  --Blue: rgb(0,32,255);
  --Gold: rgb(153,231,0);
  --Gray: #8a8a8d;
}
body
{
    background-color: var(--Gray);
}
*
{
    color: var(--Blue);
    text-align: center;
}
h1
{
    font-size: calc(16pt + 4vw);
}
nav
{
    border: 7px var(--Gold) solid;
}
section
{
    border: 5px var(--Blue) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--Gold);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
